@charset "UTF-8";
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700&display=swap");
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0; }

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block; }

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent; }

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder; }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%; }

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none; }

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible; }

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none; }

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; }

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline; }

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto; }

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto; }

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block; }

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item; }

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none; }

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: 'slick';
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir='rtl'] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir='rtl'] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir='rtl'] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir='rtl'] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -55px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
  left: 0;
  right: 0; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 10px;
      width: 10px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 10px;
        height: 10px;
        font-family: "slick";
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        border: 1px solid #d8d8d8;
        border-radius: 50%;
        color: transparent;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      background: #fa3f40;
      border: none;
      opacity: 1; }

html {
  font-size: 16px; }
  @media screen and (max-width: 920px) {
    html {
      font-size: 14px; } }

body {
  font-family: "Open Sans"; }

.wrap {
  width: 100%; }

.container {
  margin: 0 auto;
  position: relative;
  z-index: 100;
  padding: 0 20px; }
  .container .title {
    padding-bottom: 50px;
    text-align: center; }
    .container .title h2 {
      font-family: "Raleway";
      font-weight: 500;
      font-size: 2.375rem;
      letter-spacing: 0.125rem;
      margin: 0; }
  .container .nav-buttons {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    bottom: 0; }
    .container .nav-buttons .prev,
    .container .nav-buttons .next {
      width: 50px;
      height: 50px;
      background: transparent;
      border: 1px solid #ccc;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      display: flex;
      cursor: pointer; }
  @media only screen and (min-width: 1200px) {
    .container {
      max-width: 1180px; } }
  @media only screen and (min-width: 980px) {
    .container {
      max-width: 980px; } }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    .container {
      width: auto; } }

header {
  z-index: 1000;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: transparent;
  transition: all 350ms ease; }
  header .wrapper {
    padding: 30px 20px;
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  header .logo {
    background: url("../img/sprite.svg#logo") 50% 50% no-repeat;
    width: 175px;
    height: 40px;
    background-size: cover; }
    header .logo a {
      display: block;
      width: 100%;
      height: 100%; }
  header .nav {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 70px; }
    header .nav li {
      display: flex;
      justify-content: center;
      cursor: pointer;
      align-items: center;
      padding: 0 15px; }
      header .nav li:first-child {
        padding-left: 0; }
      header .nav li:last-child {
        padding-right: 0; }
      header .nav li.with-border {
        border-left: 1px solid rgba(255, 255, 255, 0.4); }
      header .nav li span,
      header .nav li a,
      header .nav li p {
        margin: 0;
        text-decoration: none;
        color: #ffffff;
        font-family: "Raleway";
        font-weight: 400;
        font-size: 1rem; }
        @media screen and (max-width: 1200px) {
          header .nav li span,
          header .nav li a,
          header .nav li p {
            font-size: 0.75rem; } }
      header .nav li a {
        display: flex;
        flex-direction: row; }
      header .nav li span {
        opacity: 0.4;
        margin-right: 7px;
        text-decoration: none; }
      header .nav li:hover a,
      header .nav li:hover a p {
        text-decoration: underline; }
    header .nav li.phone .icon {
      background: url("../img/sprite.svg#phone") 50% 50% no-repeat;
      background-size: cover;
      width: 40px;
      height: 24px; }
    header .nav li.for-client .icon {
      background: url("../img/sprite.svg#account") 50% 50% no-repeat;
      background-size: cover;
      width: 40px;
      height: 24px; }
    header .nav li.for-providers .icon {
      background: url("../img/sprite.svg#account") 50% 50% no-repeat;
      background-size: cover;
      width: 40px;
      height: 24px; }
    @media screen and (max-width: 1000px) {
      header .nav {
        display: none; } }
    header .nav #close-btn {
      padding-top: 50px;
      display: none; }
      header .nav #close-btn i {
        width: 100%;
        height: 40px; }
        header .nav #close-btn i::after, header .nav #close-btn i::before {
          position: absolute;
          left: 50%;
          content: ' ';
          height: 33px;
          width: 2px;
          background-color: #fff; }
        header .nav #close-btn i::after {
          transform: rotate(-45deg); }
        header .nav #close-btn i::before {
          transform: rotate(45deg); }
    header .nav.show {
      display: flex;
      position: fixed;
      background: #000000;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0;
      padding: 0;
      flex-direction: column;
      justify-content: center;
      -webkit-animation: showUp 350ms linear forwards;
              animation: showUp 350ms linear forwards; }
      header .nav.show #close-btn {
        display: flex; }
      header .nav.show > li {
        border: 0;
        padding: 0;
        margin: 15px 0; }
        header .nav.show > li a,
        header .nav.show > li p,
        header .nav.show > li span {
          font-size: 1.25rem; }
        header .nav.show > li.with-border {
          flex-direction: column; }
          header .nav.show > li.with-border .icon {
            margin-bottom: 8px; }
  header .burger-menu {
    width: 30px;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    display: none; }
    header .burger-menu > span {
      width: 100%;
      height: 2px;
      background-color: #ffffff;
      margin: 3px 0; }
    @media screen and (max-width: 1000px) {
      header .burger-menu {
        display: flex; } }
  header.on-top {
    background-color: #000000; }
    header.on-top .nav li:hover a {
      color: #ffffff;
      text-decoration: underline; }
    header.on-top .nav li:hover p {
      color: #ffffff;
      text-decoration: underline; }
  header.scrolled-down {
    top: -100px; }

.main {
  color: #ffffff;
  background: url("../img/carousel-img.png") 50% 50% no-repeat;
  position: relative;
  padding: 200px 0; }
  .main .container {
    height: 100%;
    width: auto;
    padding-top: 115px; }
  .main .header-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 10;
    height: 185px; }
    @media screen and (max-width: 1000px) {
      .main .header-overlay {
        height: 110px; } }
  .main .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10; }
  .main .info {
    z-index: 100;
    width: 60%;
    margin: 0 auto;
    text-align: center; }
    .main .info p {
      font-family: "Raleway";
      font-size: 1rem;
      margin: 0;
      letter-spacing: 0.02rem;
      line-height: 1.625rem; }
    .main .info .description {
      padding-bottom: 52px; }
    .main .info .more-btn {
      width: 100%;
      text-align: center; }
      .main .info .more-btn button {
        width: 270px;
        height: 58px;
        background-color: #ffffff;
        border-radius: 50px;
        border: none;
        transition: all 250ms linear; }
        .main .info .more-btn button a {
          font-family: "Raleway";
          font-size: 0.75rem;
          line-height: 58px;
          letter-spacing: 0.2rem;
          margin: 0;
          text-transform: uppercase;
          color: #000000;
          text-decoration: none;
          display: block; }
        .main .info .more-btn button:hover {
          background-color: #000000; }
          .main .info .more-btn button:hover a {
            color: #ffffff; }
    @media only screen and (min-width: 320px) and (max-width: 768px) {
      .main .info {
        width: 100%; } }
  @media screen and (max-width: 1000px) {
    .main {
      padding: 120px 0; } }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    .main {
      padding: 90px 0 40px; } }

.how-it-works {
  padding: 95px 0; }
  .how-it-works .steps {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
    margin-bottom: 75px; }
    .how-it-works .steps .step-item {
      display: flex;
      flex-direction: row; }
      .how-it-works .steps .step-item .step {
        position: relative;
        width: 80px; }
        .how-it-works .steps .step-item .step .step-number {
          position: absolute;
          display: flex;
          flex-direction: column;
          top: -60px;
          cursor: default; }
          .how-it-works .steps .step-item .step .step-number h1 {
            margin: 0;
            font-size: 9rem;
            font-weight: 700;
            color: #f1f1f1;
            text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            padding-bottom: 20px; }
          .how-it-works .steps .step-item .step .step-number h5 {
            font-family: "Raleway";
            font-weight: 700;
            font-size: 0.75rem;
            text-transform: uppercase;
            color: #d8d8d8;
            letter-spacing: 0.2rem;
            align-self: flex-end;
            transform: rotate3d(0, 0, 1, -90deg);
            margin-bottom: 0; }
      .how-it-works .steps .step-item .description {
        width: 195px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start; }
        .how-it-works .steps .step-item .description .icon {
          margin-bottom: 20px; }
        .how-it-works .steps .step-item .description .text p {
          font-family: "Raleway";
          font-size: 1.25rem;
          margin-bottom: 0; }
        .how-it-works .steps .step-item .description .divider {
          background-color: #d8d8d8;
          width: 32px;
          height: 2px; }
        @media screen and (max-width: 899px) {
          .how-it-works .steps .step-item .description {
            width: 150px; } }
    @media only screen and (min-width: 320px) and (max-width: 768px) {
      .how-it-works .steps {
        flex-direction: column;
        align-items: center;
        justify-content: center; }
        .how-it-works .steps .step-item {
          margin-bottom: 35px; }
          .how-it-works .steps .step-item:last-child {
            margin: 0; } }
  .how-it-works .info {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px; }
    .how-it-works .info p {
      font-family: "Raleway";
      font-size: 1rem;
      margin: 0;
      letter-spacing: 0.02rem;
      line-height: 1.625rem; }
    @media only screen and (min-width: 320px) and (max-width: 768px) {
      .how-it-works .info {
        width: 80%; } }
  .how-it-works .more-btn {
    width: 100%;
    text-align: center; }
    .how-it-works .more-btn button {
      width: 270px;
      height: 58px;
      background-color: #030303;
      border-radius: 50px;
      transition: all 250ms linear; }
      .how-it-works .more-btn button a {
        font-family: "Raleway";
        font-size: 0.75rem;
        line-height: 58px;
        letter-spacing: 0.2rem;
        margin: 0;
        text-transform: uppercase;
        color: #ffffff;
        text-decoration: none;
        display: block; }
      .how-it-works .more-btn button:hover {
        background-color: #ffffff;
        border: 1px solid #000000; }
        .how-it-works .more-btn button:hover a {
          color: #000000;
          line-height: 59px; }

.services {
  background-color: #4f5d75;
  color: #ffffff;
  padding: 130px 0 60px; }
  .services .container .services-info .navigation {
    margin: 0;
    padding: 0 0 80px;
    list-style: none;
    display: flex;
    flex-direction: row; }
    .services .container .services-info .navigation li {
      border-left: 2px solid #2d3142;
      display: flex;
      justify-content: center;
      width: 100%; }
      .services .container .services-info .navigation li:first-child {
        border: 0; }
      .services .container .services-info .navigation li a {
        text-decoration: none;
        text-transform: uppercase;
        color: #2d3142;
        font-family: "Raleway";
        font-weight: 600;
        font-size: 0.875rem; }
        .services .container .services-info .navigation li a:hover {
          color: #ffffff; }
      .services .container .services-info .navigation li.active a {
        color: #ffffff; }
    @media screen and (max-width: 800px) {
      .services .container .services-info .navigation {
        flex-flow: wrap; }
        .services .container .services-info .navigation li {
          border: 0;
          margin-bottom: 15px; }
          .services .container .services-info .navigation li:last-child {
            margin: 0; } }
  .services .container .services-info .content > div {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    padding: 0 35px;
    justify-content: space-around; }
    .services .container .services-info .content > div > div {
      display: flex;
      flex: 1 1 300px;
      margin-bottom: 70px; }
      .services .container .services-info .content > div > div > h3 {
        font-family: "Raleway";
        font-size: 1.25rem;
        font-weight: 400; }
      @media screen and (max-width: 639px) {
        .services .container .services-info .content > div > div {
          margin-bottom: 30px;
          flex-direction: column;
          align-items: center; } }
    .services .container .services-info .content > div .fake-item {
      display: flex;
      flex: 1 1 300px;
      margin: 0;
      padding: 0; }
    @media only screen and (min-width: 320px) and (max-width: 768px) {
      .services .container .services-info .content > div {
        padding: 0; } }
  .services .container .services-info .content .item {
    display: none;
    opacity: 0;
    transition: opacity 450ms linear; }
    .services .container .services-info .content .item.show {
      display: flex;
      -webkit-animation: showUp 450ms linear forwards;
              animation: showUp 450ms linear forwards; }
  .services .container .services-info .content .icon {
    width: 130px;
    height: 60px; }
  .services .container .services-info .content .transcription .icon {
    background: url("../img/sprite.svg#transcription") 50% 50% no-repeat; }
  .services .container .services-info .content .realtime .icon {
    background: url("../img/sprite.svg#realtime") 50% 50% no-repeat; }
  .services .container .services-info .content .video-streaming .icon {
    background: url("../img/sprite.svg#videostreaming") 50% 50% no-repeat; }
  .services .container .services-info .content .draft .icon {
    background: url("../img/sprite.svg#draft") 50% 50% no-repeat; }
  .services .container .services-info .content .videotaping .icon {
    background: url("../img/sprite.svg#videotaping") 50% 50% no-repeat; }
  .services .container .services-info .content .interpreting .icon {
    background: url("../img/sprite.svg#interpareting") 50% 50% no-repeat; }
  .services .container .services-info .content #video .videotaping {
    justify-content: center; }
  .services .container .services-info .content #interpreting .interpreting {
    justify-content: center; }

.numbers {
  background-color: #eff0f1;
  padding: 90px 0; }
  .numbers .title {
    padding-bottom: 90px; }
  .numbers .container .circle-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .numbers .container .circle-items .item svg {
      transform: rotate(-90deg); }
      .numbers .container .circle-items .item svg circle {
        -webkit-filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.6));
                filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.6)); }
      .numbers .container .circle-items .item svg .circle {
        fill: none;
        stroke: white;
        stroke-width: 22; }
      .numbers .container .circle-items .item svg .bar {
        stroke-width: 22;
        stroke: red;
        fill: none;
        stroke-dasharray: 552.64;
        -webkit-animation: strokeAnimation 1s linear forwards;
                animation: strokeAnimation 1s linear forwards;
        -webkit-animation-delay: 1000ms;
                animation-delay: 1000ms;
        -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
                filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5)); }
        .numbers .container .circle-items .item svg .bar--1 {
          stroke-dashoffset: 400; }
        .numbers .container .circle-items .item svg .bar--2 {
          stroke-dashoffset: 200; }
        .numbers .container .circle-items .item svg .bar--3 {
          stroke-dashoffset: 325; }
        .numbers .container .circle-items .item svg .bar--4 {
          stroke-dashoffset: 240; }
      .numbers .container .circle-items .item svg .count {
        font-family: "Open Sans";
        font-weight: 600;
        font-size: 2.625rem;
        transform: rotate(90deg);
        -webkit-filter: drop-shadow(0px 0px 0px white);
                filter: drop-shadow(0px 0px 0px white); }
      .numbers .container .circle-items .item svg .text {
        font-family: "Raleway";
        font-size: 0.75rem;
        text-transform: uppercase;
        transform: rotate(90deg); }
    @media screen and (max-width: 923px) {
      .numbers .container .circle-items {
        flex-flow: wrap; }
        .numbers .container .circle-items .item {
          width: 50%;
          text-align: center; } }
    @media screen and (max-width: 505px) {
      .numbers .container .circle-items {
        flex-flow: wrap; }
        .numbers .container .circle-items .item {
          width: 100%;
          text-align: center; } }

.benefits {
  padding: 130px 0 0; }
  .benefits .title {
    padding-bottom: 130px; }
    @media only screen and (min-width: 320px) and (max-width: 768px) {
      .benefits .title {
        padding-bottom: 70px; } }
  .benefits .list-items .item {
    display: flex;
    flex-direction: row;
    margin-bottom: 130px; }
    .benefits .list-items .item:nth-child(even) {
      flex-direction: row-reverse; }
      .benefits .list-items .item:nth-child(even) .info {
        padding-right: 55px;
        padding-left: 0; }
    .benefits .list-items .item .image img {
      display: block;
      max-width: 100%; }
    .benefits .list-items .item .info {
      display: flex;
      flex-direction: column;
      align-content: flex-start;
      justify-content: center;
      padding-left: 70px;
      max-width: 345px; }
      .benefits .list-items .item .info h3,
      .benefits .list-items .item .info p {
        font-family: "Raleway"; }
      .benefits .list-items .item .info h3 {
        font-weight: 500;
        font-size: 1.75rem; }
      .benefits .list-items .item .info p {
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.625rem;
        letter-spacing: 0.02rem; }
    @media only screen and (min-width: 320px) and (max-width: 768px) {
      .benefits .list-items .item {
        margin-bottom: 65px;
        flex-direction: column; }
        .benefits .list-items .item .info {
          padding: 0;
          width: 100%;
          text-align: center;
          max-width: 100%; }
        .benefits .list-items .item:nth-child(even) {
          flex-direction: column; }
          .benefits .list-items .item:nth-child(even) .info {
            padding: 0;
            width: 100%;
            text-align: center;
            max-width: 100%; } }

.providers {
  background-image: url("../img/providers.png");
  background-position: 50% 50%;
  background-size: cover;
  height: 332px;
  width: 100%;
  position: relative;
  padding: 90px 0; }
  .providers .mask {
    background-color: #eff0f1;
    opacity: 0.6;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10; }
  .providers .providers-carousel-wrap {
    position: relative; }
    @media only screen and (min-width: 320px) and (max-width: 768px) {
      .providers .providers-carousel-wrap {
        padding-bottom: 50px; } }
  .providers .providers-carousel {
    display: block;
    width: 100%;
    height: auto;
    padding: 0 55px; }
    .providers .providers-carousel .provider h3,
    .providers .providers-carousel .provider p {
      margin: 0;
      font-family: "Raleway"; }
    .providers .providers-carousel .provider .info {
      margin-bottom: 25px;
      display: flex;
      flex-direction: row; }
      .providers .providers-carousel .provider .info h3 {
        margin-bottom: 15px;
        font-size: 1.25rem;
        font-weight: 500; }
      .providers .providers-carousel .provider .info .avatar {
        width: 70px;
        height: 70px;
        background-color: #eaeaea;
        border-radius: 50%;
        margin-right: 30px; }
      .providers .providers-carousel .provider .info .divider {
        width: 100%;
        height: 2px;
        background: #ffffff;
        margin-bottom: 15px; }
      .providers .providers-carousel .provider .info .services-list p {
        font-weight: 600;
        font-size: 0.75rem;
        letter-spacing: 0.125rem;
        text-transform: uppercase; }
    .providers .providers-carousel .provider .text p {
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.625rem; }
    @media only screen and (min-width: 1200px) {
      .providers .providers-carousel .provider {
        margin: 0 130px; } }
    @media only screen and (min-width: 980px) {
      .providers .providers-carousel .provider {
        max-width: 370px;
        width: 100%;
        margin: 0 32px; } }

@media only screen and (min-width: 768px) and (max-width: 979px) {
  .providers .providers-carousel .provider {
    margin: 0;
    width: 65% !important;
    margin: 0 auto;
    display: flex !important;
    flex-direction: column; }
    .providers .providers-carousel .provider .text {
      text-align: center; } }
    @media only screen and (min-width: 320px) and (max-width: 768px) {
      .providers .providers-carousel .provider {
        padding: 0;
        margin-bottom: 25px; } }
    @media only screen and (min-width: 320px) and (max-width: 600px) {
      .providers .providers-carousel {
        padding: 0; } }
  .providers .nav-buttons .prev,
  .providers .nav-buttons .next {
    width: 50px;
    height: 50px;
    background: transparent;
    border: 1px solid #ffffff;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    .providers .nav-buttons {
      top: auto;
      bottom: 0;
      justify-content: space-around; } }
  @media only screen and (min-width: 320px) and (max-width: 600px) {
    .providers {
      height: 400px; } }

.testimonials {
  padding: 110px 0; }
  .testimonials .carousel-wrap {
    position: relative; }
  .testimonials .carousel {
    display: block;
    width: 100%;
    height: auto;
    padding: 0 55px; }
    .testimonials .carousel .quote {
      text-align: center;
      max-width: 750px;
      margin: 0 auto;
      display: flex !important;
      flex-direction: column; }
      .testimonials .carousel .quote h3,
      .testimonials .carousel .quote p {
        font-family: "Raleway"; }
      .testimonials .carousel .quote .name {
        margin-bottom: 15px; }
        .testimonials .carousel .quote .name h3 {
          margin: 0 0 10px;
          font-weight: 400;
          font-size: 1.25rem; }
        .testimonials .carousel .quote .name .job p {
          font-weight: 600;
          font-size: 0.75rem;
          margin: 0;
          padding: 0;
          text-transform: uppercase;
          color: #4f5d75;
          letter-spacing: 0.125rem; }
      .testimonials .carousel .quote .text p {
        font-weight: 400;
        line-height: 1.625rem; }

footer {
  padding: 45px 0;
  background-color: #4f5d75; }
  footer .footer-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    footer .footer-items a,
    footer .footer-items p {
      text-decoration: none;
      color: #ffffff;
      font-family: "Raleway";
      font-size: 1rem;
      font-weight: 400; }
    footer .footer-items .item {
      display: flex;
      flex-direction: row; }
      footer .footer-items .item .text p:first-child {
        margin-top: 0; }
    footer .footer-items .footer-nav {
      margin: 0;
      padding: 0;
      list-style: none; }
      footer .footer-items .footer-nav li {
        margin-bottom: 1rem; }
        footer .footer-items .footer-nav li a:hover {
          color: #000000; }
    footer .footer-items .location .icon {
      background: url("../img/sprite.svg#location") 50% 50% no-repeat;
      background-size: cover;
      width: 35px;
      height: 24px; }
    footer .footer-items .contacts .icon {
      background: url("../img/sprite.svg#phone") 50% 50% no-repeat;
      background-size: cover;
      width: 35px;
      height: 24px; }
    footer .footer-items .contacts a:hover {
      text-decoration: underline; }
    @media screen and (max-width: 620px) {
      footer .footer-items {
        flex-direction: column;
        align-items: center; }
        footer .footer-items .item {
          text-align: center;
          flex-direction: column;
          align-items: center;
          margin-bottom: 20px; } }
  footer .copyright {
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    footer .copyright span,
    footer .copyright p {
      color: #2d3142; }
    footer .copyright span {
      padding-right: 7px; }
    @media screen and (max-width: 620px) {
      footer .copyright {
        justify-content: center; } }

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .wrap section {
    padding: 55px 0; } }

@-webkit-keyframes strokeAnimation {
  from {
    stroke-dashoffset: 552.64; } }

@keyframes strokeAnimation {
  from {
    stroke-dashoffset: 552.64; } }

@-webkit-keyframes showUp {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes showUp {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
