$break-small: 600px;
$break-large: 980px;
$break-big: 1200px;
$break: 768px;
$mobile-min: 320px;

@mixin mobile {
	@media only screen and (min-width: $mobile-min) and (max-width: $break) {
		@content;
	}
}

@mixin tablet-small {
	@media only screen and (min-width: $mobile-min) and (max-width: $break-small) {
		@content;
	}
}

@mixin tablet-980 {
	@media only screen and (min-width: $break-large) {
		@content;
	}
}

@mixin tablet-768 {
	@media only screen and (min-width: $break) {
		@content;
	}
}

@mixin tablet-1200 {
	@media only screen and (min-width: $break-big) {
		@content;
	}
}

@mixin landscape {
	@media only screen and (orientation: landscape) {
		@content;
	}
}
