@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700&display=swap');

$f-raleway: 'Raleway';
$f-opensans: 'Open Sans';
