@import './normalize.scss';
@import './variables';
@import './fonts.scss';
@import './mixins';
@import './slick.scss';
@import './slick-theme.scss';

html {
	font-size: 16px;
	@media screen and (max-width: 920px) {
		font-size: 14px;
	}
}

body {
	font-family: $f-opensans;
}

.wrap {
	width: 100%;
}

.container {
	margin: 0 auto;
	position: relative;
	z-index: 100;
	padding: 0 20px;
	.title {
		padding-bottom: 50px;
		text-align: center;
		h2 {
			font-family: $f-raleway;
			font-weight: 500;
			font-size: 2.375rem;
			letter-spacing: 0.125rem;
			margin: 0;
		}
	}
	.nav-buttons {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		align-content: center;
		bottom: 0;
		.prev,
		.next {
			width: 50px;
			height: 50px;
			background: transparent;
			border: 1px solid #ccc;
			border-radius: 50%;
			justify-content: center;
			align-items: center;
			display: flex;
			cursor: pointer;
		}
	}
	@include tablet-1200 {
		max-width: 1180px;
	}
	@include tablet-980 {
		max-width: 980px;
	}
	@include mobile {
		width: auto;
	}
}

header {
	z-index: 1000;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	background: transparent;
	transition: all 350ms ease;

	.wrapper {
		padding: 30px 20px;
		max-width: 1180px;
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	.logo {
		background: url('../img/sprite.svg#logo') 50% 50% no-repeat;
		width: 175px;
		height: 40px;
		background-size: cover;
		& a {
			display: block;
			width: 100%;
			height: 100%;
		}
	}
	.nav {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		flex-direction: row;
		// width: 100%;
		justify-content: space-between;
		margin-left: 70px;

		& li {
			display: flex;
			justify-content: center;
			cursor: pointer;
			align-items: center;
			padding: 0 15px;
			&:first-child {
				padding-left: 0;
			}
			&:last-child {
				padding-right: 0;
			}
			&.with-border {
				border-left: 1px solid rgba(255, 255, 255, 0.4);
			}
			& span,
			a,
			p {
				margin: 0;
				text-decoration: none;
				color: #ffffff;
				font-family: $f-raleway;
				font-weight: 400;
				font-size: 1rem;
				@media screen and (max-width: 1200px) {
					font-size: 0.75rem;
				}
			}
			& a {
				display: flex;
				flex-direction: row;
			}
			& span {
				opacity: 0.4;
				margin-right: 7px;
				text-decoration: none;
			}
			&:hover {
				a,
				a p {
					text-decoration: underline;
				}
			}
		}
		& li.phone {
			.icon {
				background: url('../img/sprite.svg#phone') 50% 50% no-repeat;
				background-size: cover;

				width: 40px;
				height: 24px;
			}
		}
		& li.for-client {
			.icon {
				background: url('../img/sprite.svg#account') 50% 50% no-repeat;
				background-size: cover;

				width: 40px;
				height: 24px;
			}
		}
		& li.for-providers {
			.icon {
				background: url('../img/sprite.svg#account') 50% 50% no-repeat;
				background-size: cover;

				width: 40px;
				height: 24px;
			}
		}
		@media screen and (max-width: 1000px) {
			display: none;
		}
		#close-btn {
			padding-top: 50px;
			display: none;
			i {
				width: 100%;
				height: 40px;
				&::after,
				&::before {
					position: absolute;
					left: 50%;
					content: ' ';
					height: 33px;
					width: 2px;
					background-color: #fff;
				}
				&::after {
					transform: rotate(-45deg);
				}
				&::before {
					transform: rotate(45deg);
				}
			}
		}
		&.show {
			display: flex;
			position: fixed;
			background: #000000;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: 0;
			padding: 0;
			flex-direction: column;
			justify-content: center;
			animation: showUp 350ms linear forwards;
			#close-btn {
				display: flex;
			}
			& > li {
				border: 0;
				padding: 0;
				margin: 15px 0;
				& a,
				p,
				span {
					font-size: 1.25rem;
				}
				&.with-border {
					flex-direction: column;
					.icon {
						margin-bottom: 8px;
					}
				}
			}
		}
	}
	.burger-menu {
		width: 30px;
		flex-direction: column;
		justify-content: center;
		cursor: pointer;
		display: none;
		& > span {
			width: 100%;
			height: 2px;
			background-color: #ffffff;
			margin: 3px 0;
		}
		@media screen and (max-width: 1000px) {
			display: flex;
		}
	}
	&.on-top {
		background-color: #000000;
		& .nav li:hover a {
			color: #ffffff;
			text-decoration: underline;
		}
		& .nav li:hover p {
			color: #ffffff;
			text-decoration: underline;
		}
	}
	&.scrolled-down {
		top: -100px;
	}
}

.main {
	color: #ffffff;
	background: url('../img/carousel-img.png') 50% 50% no-repeat;
	position: relative;
	padding: 200px 0;
	.container {
		height: 100%;
		width: auto;
		padding-top: 115px;
	}
	.header-overlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		background-color: rgba(0, 0, 0, 0.2);
		z-index: 10;
		height: 185px;
		@media screen and (max-width: 1000px) {
			height: 110px;
		}
	}
	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: rgba(0, 0, 0, 0.6);
		z-index: 10;
	}

	.info {
		z-index: 100;
		width: 60%;
		margin: 0 auto;
		text-align: center;

		p {
			font-family: $f-raleway;
			font-size: 1rem;
			margin: 0;
			letter-spacing: 0.02rem;
			line-height: 1.625rem;
		}
		.description {
			padding-bottom: 52px;
		}
		.more-btn {
			width: 100%;
			text-align: center;
			button {
				width: 270px;
				height: 58px;
				background-color: #ffffff;
				border-radius: 50px;
				border: none;
				transition: all 250ms linear;
				a {
					font-family: $f-raleway;
					font-size: 0.75rem;
					line-height: 58px;
					letter-spacing: 0.2rem;
					margin: 0;
					text-transform: uppercase;
					color: #000000;
					text-decoration: none;
					display: block;
				}
				&:hover {
					background-color: #000000;
					& a {
						color: #ffffff;
					}
				}
			}
		}
		@include mobile {
			width: 100%;
		}
	}
	@media screen and (max-width: 1000px) {
		padding: 120px 0;
	}
	@include mobile {
		padding: 90px 0 40px;
	}
}

.how-it-works {
	padding: 95px 0;
	.steps {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding-top: 30px;
		margin-bottom: 75px;
		.step-item {
			display: flex;
			flex-direction: row;

			.step {
				position: relative;
				width: 80px;
				.step-number {
					position: absolute;
					display: flex;
					flex-direction: column;
					top: -60px;
					cursor: default;
					h1 {
						margin: 0;
						font-size: 9rem;
						font-weight: 700;
						color: #f1f1f1;
						text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
						padding-bottom: 20px;
					}
					h5 {
						font-family: $f-raleway;
						font-weight: 700;
						font-size: 0.75rem;
						text-transform: uppercase;
						color: #d8d8d8;
						letter-spacing: 0.2rem;
						align-self: flex-end;
						transform: rotate3d(0, 0, 1, -90deg);
						margin-bottom: 0;
					}
				}
			}
			.description {
				width: 195px;
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				.icon {
					margin-bottom: 20px;
				}
				.text p {
					font-family: $f-raleway;
					font-size: 1.25rem;
					margin-bottom: 0;
				}
				.divider {
					background-color: #d8d8d8;
					width: 32px;
					height: 2px;
				}
				@media screen and (max-width: 899px) {
					width: 150px;
				}
			}
		}
		@include mobile {
			flex-direction: column;
			align-items: center;
			justify-content: center;
			& .step-item {
				margin-bottom: 35px;
				&:last-child {
					margin: 0;
				}
			}
		}
	}
	.info {
		width: 60%;
		margin: 0 auto;
		text-align: center;
		margin-bottom: 50px;
		p {
			font-family: $f-raleway;
			font-size: 1rem;
			margin: 0;
			letter-spacing: 0.02rem;
			line-height: 1.625rem;
		}
		@include mobile {
			width: 80%;
		}
	}

	.more-btn {
		width: 100%;
		text-align: center;
		button {
			width: 270px;
			height: 58px;
			background-color: #030303;
			border-radius: 50px;
			transition: all 250ms linear;

			a {
				font-family: $f-raleway;
				font-size: 0.75rem;
				line-height: 58px;
				letter-spacing: 0.2rem;
				margin: 0;
				text-transform: uppercase;
				color: #ffffff;
				text-decoration: none;
				display: block;
			}
			&:hover {
				background-color: #ffffff;
				border: 1px solid #000000;
				& a {
					color: #000000;
					line-height: 59px;
				}
			}
		}
	}
}

.services {
	background-color: #4f5d75;
	color: #ffffff;
	padding: 130px 0 60px;

	.container {
		.services-info {
			.navigation {
				margin: 0;
				padding: 0 0 80px;
				list-style: none;
				display: flex;
				flex-direction: row;
				li {
					border-left: 2px solid #2d3142;
					display: flex;
					justify-content: center;
					width: 100%;
					&:first-child {
						border: 0;
					}
					a {
						text-decoration: none;
						text-transform: uppercase;
						color: #2d3142;
						font-family: $f-raleway;
						font-weight: 600;
						font-size: 0.875rem;
						&:hover {
							color: #ffffff;
						}
					}
					&.active {
						a {
							color: #ffffff;
						}
					}
				}
				@media screen and (max-width: 800px) {
					flex-flow: wrap;
					& li {
						border: 0;
						margin-bottom: 15px;
						&:last-child {
							margin: 0;
						}
					}
				}
			}
			.content {
				// display: flex;
				// flex-direction: row;
				// justify-content: space-between;
				// flex-flow: wrap;
				// padding: 0 35px;
				& > div {
					display: flex;
					flex-direction: row;
					flex-flow: wrap;
					padding: 0 35px;
					justify-content: space-around;
					& > div {
						display: flex;
						flex: 1 1 300px;
						margin-bottom: 70px;
						& > h3 {
							font-family: $f-raleway;
							font-size: 1.25rem;
							font-weight: 400;
						}
						@media screen and (max-width: 639px) {
							margin-bottom: 30px;
							flex-direction: column;
							align-items: center;
						}
					}
					& .fake-item {
						display: flex;
						flex: 1 1 300px;
						margin: 0;
						padding: 0;
						@include mobile {
							// flex: 1 1 190px;
						}
					}
					@include mobile {
						padding: 0;
						& > div {
							// flex: 1 1 190px;
						}
					}
				}
				.item {
					display: none;
					opacity: 0;
					transition: opacity 450ms linear;
					&.show {
						display: flex;
						animation: showUp 450ms linear forwards;
					}
				}
				.icon {
					width: 130px;
					height: 60px;
				}
				.transcription {
					.icon {
						background: url('../img/sprite.svg#transcription') 50%
							50% no-repeat;
					}
				}
				.realtime {
					.icon {
						background: url('../img/sprite.svg#realtime') 50% 50%
							no-repeat;
					}
				}
				.video-streaming {
					.icon {
						background: url('../img/sprite.svg#videostreaming') 50%
							50% no-repeat;
					}
				}
				.draft {
					.icon {
						background: url('../img/sprite.svg#draft') 50% 50%
							no-repeat;
					}
				}
				.videotaping {
					.icon {
						background: url('../img/sprite.svg#videotaping') 50% 50%
							no-repeat;
					}
				}
				.interpreting {
					.icon {
						background: url('../img/sprite.svg#interpareting') 50%
							50% no-repeat;
					}
				}
				#video {
					.videotaping {
						justify-content: center;
					}
				}
				#interpreting {
					.interpreting {
						justify-content: center;
					}
				}
			}
		}
	}
}

.numbers {
	background-color: #eff0f1;
	padding: 90px 0;
	.title {
		padding-bottom: 90px;
	}
	.container {
		.circle-items {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			.item {
				svg {
					transform: rotate(-90deg);
					& circle {
						filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.6));
					}

					.circle {
						fill: none;
						stroke: white;
						stroke-width: 22;
					}
					.bar {
						stroke-width: 22;
						stroke: red;
						fill: none;
						stroke-dasharray: 552.64;
						animation: strokeAnimation 1s linear forwards;
						animation-delay: 1000ms;
						filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
						&--1 {
							stroke-dashoffset: 400;
						}
						&--2 {
							stroke-dashoffset: 200;
						}
						&--3 {
							stroke-dashoffset: 325;
						}
						&--4 {
							stroke-dashoffset: 240;
						}
					}
					.count {
						font-family: $f-opensans;
						font-weight: 600;
						font-size: 2.625rem;
						transform: rotate(90deg);
						filter: drop-shadow(0px 0px 0px rgba(255, 255, 255, 1));
					}
					.text {
						font-family: $f-raleway;
						font-size: 0.75rem;
						text-transform: uppercase;
						transform: rotate(90deg);
					}
				}
			}

			@media screen and (max-width: 923px) {
				flex-flow: wrap;
				& .item {
					width: 50%;
					text-align: center;
				}
			}
			@media screen and (max-width: 505px) {
				flex-flow: wrap;
				& .item {
					width: 100%;
					text-align: center;
				}
			}
		}
	}
}

.benefits {
	padding: 130px 0 0;
	.title {
		padding-bottom: 130px;
		@include mobile {
			padding-bottom: 70px;
		}
	}
	.list-items {
		.item {
			display: flex;
			flex-direction: row;
			margin-bottom: 130px;
			&:nth-child(even) {
				flex-direction: row-reverse;
				& .info {
					padding-right: 55px;
					padding-left: 0;
				}
			}
			.image {
				img {
					display: block;
					max-width: 100%;
				}
			}
			.info {
				display: flex;
				flex-direction: column;
				align-content: flex-start;
				justify-content: center;
				padding-left: 70px;
				max-width: 345px;
				h3,
				p {
					font-family: $f-raleway;
				}
				h3 {
					font-weight: 500;
					font-size: 1.75rem;
				}
				p {
					font-weight: 400;
					font-size: 1rem;
					line-height: 1.625rem;
					letter-spacing: 0.02rem;
				}
			}
			@include mobile {
				margin-bottom: 65px;
				flex-direction: column;
				.info {
					padding: 0;
					width: 100%;
					text-align: center;
					max-width: 100%;
				}
				&:nth-child(even) {
					flex-direction: column;
					& .info {
						padding: 0;
						width: 100%;
						text-align: center;
						max-width: 100%;
					}
				}
			}
		}
	}
}

.providers {
	background-image: url('../img/providers.png');
	background-position: 50% 50%;
	background-size: cover;
	height: 332px;
	width: 100%;
	position: relative;
	padding: 90px 0;
	.mask {
		background-color: #eff0f1;
		opacity: 0.6;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 10;
	}
	.providers-carousel-wrap {
		position: relative;
		@include mobile {
			padding-bottom: 50px;
		}
	}
	.providers-carousel {
		display: block;
		width: 100%;
		height: auto;
		padding: 0 55px;
		.provider {
			h3,
			p {
				margin: 0;
				font-family: $f-raleway;
			}
			.info {
				margin-bottom: 25px;
				display: flex;
				flex-direction: row;

				h3 {
					margin-bottom: 15px;
					font-size: 1.25rem;
					font-weight: 500;
				}
				.avatar {
					width: 70px;
					height: 70px;
					background-color: #eaeaea;
					border-radius: 50%;
					margin-right: 30px;
				}
				.divider {
					width: 100%;
					height: 2px;
					background: #ffffff;
					margin-bottom: 15px;
				}
				.services-list {
					p {
						font-weight: 600;
						font-size: 0.75rem;
						letter-spacing: 0.125rem;
						text-transform: uppercase;
					}
				}
			}
			.text {
				p {
					font-weight: 400;
					font-size: 1rem;
					line-height: 1.625rem;
				}
			}
			@include tablet-1200 {
				margin: 0 130px;
			}
			@include tablet-980 {
				max-width: 370px;
				width: 100%;
				margin: 0 32px;
			}
			@include tablet-768 {
				@media (max-width: 979px) {
					margin: 0;
					width: 65% !important;
					margin: 0 auto;
					display: flex !important;
					flex-direction: column;
					& .text {
						text-align: center;
					}
				}
			}
			@include mobile {
				padding: 0;
				margin-bottom: 25px;
			}
		}
		@include tablet-small {
			padding: 0;
		}
	}
	.nav-buttons {
		.prev,
		.next {
			width: 50px;
			height: 50px;
			background: transparent;
			border: 1px solid #ffffff;
			border-radius: 50%;
			justify-content: center;
			align-items: center;
			display: flex;
			cursor: pointer;
		}
		// @include tablet-768 {
		// 	@media (max-width: 979px) {
		// 		padding: 0 80px;
		// 	}
		// }
		@include mobile {
			top: auto;
			bottom: 0;
			justify-content: space-around;
		}
	}
	@include tablet-small {
		height: 400px;
	}
}

.testimonials {
	padding: 110px 0;
	.carousel-wrap {
		position: relative;
	}
	.carousel {
		display: block;
		width: 100%;
		height: auto;
		padding: 0 55px;

		.quote {
			text-align: center;
			max-width: 750px;
			margin: 0 auto;
			display: flex !important;
			flex-direction: column;
			h3,
			p {
				font-family: $f-raleway;
			}
			.name {
				margin-bottom: 15px;

				h3 {
					margin: 0 0 10px;
					font-weight: 400;
					font-size: 1.25rem;
				}
				.job p {
					font-weight: 600;
					font-size: 0.75rem;
					margin: 0;
					padding: 0;
					text-transform: uppercase;
					color: #4f5d75;
					letter-spacing: 0.125rem;
				}
			}
			& .text {
				p {
					font-weight: 400;
					line-height: 1.625rem;
				}
			}
		}
	}
}

footer {
	padding: 45px 0;
	background-color: #4f5d75;
	.footer-items {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		a,
		p {
			text-decoration: none;
			color: #ffffff;
			font-family: $f-raleway;
			font-size: 1rem;
			font-weight: 400;
		}
		.item {
			display: flex;
			flex-direction: row;
			& .text p:first-child {
				margin-top: 0;
			}
		}
		.footer-nav {
			margin: 0;
			padding: 0;
			list-style: none;
			& li {
				margin-bottom: 1rem;
				a:hover {
					color: #000000;
				}
			}
		}
		.location {
			& .icon {
				background: url('../img/sprite.svg#location') 50% 50% no-repeat;
				background-size: cover;
				width: 35px;
				height: 24px;
			}
		}
		.contacts {
			& .icon {
				background: url('../img/sprite.svg#phone') 50% 50% no-repeat;
				background-size: cover;
				width: 35px;
				height: 24px;
			}
			& a:hover {
				text-decoration: underline;
			}
		}
		@media screen and (max-width: 620px) {
			flex-direction: column;
			align-items: center;
			& .item {
				text-align: center;
				flex-direction: column;
				align-items: center;
				margin-bottom: 20px;
			}
		}
	}
	.copyright {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		span,
		p {
			color: #2d3142;
		}
		span {
			padding-right: 7px;
		}
		@media screen and (max-width: 620px) {
			justify-content: center;
		}
	}
}

@include mobile {
	.wrap section {
		padding: 55px 0;
	}
}

@keyframes strokeAnimation {
	from {
		stroke-dashoffset: 552.64;
	}
}

@keyframes showUp {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
